Hartmann/scratch/
Hartmann/3DHartmannData
Hartmann/Full3DHartmannRunData/
Hartmann/3DHartmannData30_5_23.zip
SSX_Scenarios/scratch/
SSX_Scenarios/DataFolders/
SSX_Scenarios/D2Data/
SSX_Scenarios/KH3Pics/